<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ trip.name }}</h5>

    <p class="card-text">{{ trip.description }}</p>

    <p><strong>Length:</strong> {{ trip.length }} days</p>

    <p><strong>Price:</strong> ${{ trip.price }}</p>

    <p><strong>Start Date:</strong> {{ trip.start | date }}</p>

    <button class="btn btn-primary" [routerLink]="['/trips', trip.code]">
      Edit
    </button>

    <button class="btn btn-danger btn-sm" (click)="onDelete()">
      Delete
    </button>
  </div>
</div>
